@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');

:root{
    --color1: rgb(25, 11, 77);
    --color2: rgba(23,180,83,.0788);
    --color3: rgba(11,194,211, 0.623);
    --fondo: #f2f2f2;
    --titulos: 33px;
    --subtitulos: 17px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido:45px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--fondo);
}

img{
    vertical-align: top;
}


/*Preloader*/

.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgb(33, 14, 104);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*Header*/

header{
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom,
    rgba(12, 58, 100, 0.664),
    rgba(20, 35, 58, 0.6),
    rgba(225, 222, 233, 0.45)
    ), url(/img/fondopublico.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav{
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5)
}

.nav1{
    background: transparent;
    height: 80px;
    color: #fff;
}

.nav2{
    background: var(--fondo);
    height: 100px;
    color: #000;
}

.contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}


nav .enlaces a{
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

nav .enlaces a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
}

nav .redes, .logo{
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 15%;
}



.logo, .logo img{
    height: 40px;
}

.icono{
    display: none;
    font-size: 24px;
    padding: 40px 40px;
}


.textos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow: hidden;
    text-align: center;
}

.textos h1{
    font-size: 80px;

}

.textos h2{
    font-size: 30px;
    font-weight: 300;
}



/*main*/

.contenedor{
    margin: auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
}

.contenedor h3{
    font-size: var(--titulos);
    color: var(--color1);
    margin-bottom: var(--espacios);
}



.contenedor p{
    font-size: var(--subtitulos);
    font-weight: 300;
    color: var(--color1);
}

.after::after{
    content: '';
    display: block;
    margin: auto;
    margin-top: var(--espacios);
    width: 100px;
    height: 2px;
    background: var(--color1);
    margin-bottom: var(--espacios-contenido);
}


.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
 padding: 0;
 width: 500%;
 animation: cambio 20s infinite;
 animation-timing-function: linear;
 
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider img{
  width: 100%;
  vertical-align: top;
}

@keyframes cambio {
  0%{margin-left: 0;}
  15%{margin-left: 0;}

  20%{margin-left: -100%;}
  35%{margin-left: -100%;}

  40%{margin-left: -200%;}
  55%{margin-left: -200%;}

  60%{margin-left: -300%;}
  80%{margin-left: -300%;}

  85%{margin-left: -400%;}
  100%{margin-left: -400%;}
}

.about{
    background: url(img/SenayimBeruah.jpg);
    height: auto;
  }
  
  .galeria-work{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cont-work{
    width: 31%;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
    height:300px;
    overflow: hidden;
    margin-bottom: var(--espacios-contenido);
  }
  
  .img-work{
    height: 90%;
    width: 100%;
  }
  
  .img-work img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .img-work iframe{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .textos-work{
    height: 10%;
  }
  
  .textos-work h4{
    line-height: 30px;
    font-weight: 300;
  }

  .textos-work p{
    line-height: 30px;
    font-weight: 300;
  }
  
  /* Footer */
  
  footer{background:url();}
  
  .marca-logo{
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
  }
  .marca-logo img{
    width: 100%;
  }
  .iconos{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 20%;
  }
  .fab{
    font-size:60px;
    color: #FFF;
    margin-bottom: var(--espacios);
    display: inline-block;
  }
  
  footer p{
    margin-top:var(--espacios);
  }
  
  @media screen and (max-width: 700px){
    .nav2{
      color: #fff;
    }
  
    .icono{
      display:block;
      cursor: pointer;
    }
  
    .enlaces{
      position: fixed;
      top:80px;
      background: #2c3e50;
      left: 0;
      height: 100%;
      transition: 1s;
      width: 0;
      overflow: hidden;
    }
  
    .enlaces a{
      display: block;
      width: 100%;
      height: 50px;
      padding: 20px;
      text-align: center;
      background: #34495e;
      color:#fff;
    }
  
    .textos>h1{font-size: 70px;}
    .textos>h2{font-size:35px;}
  
    .content-card{
      width: 48%;
      margin-bottom:var(--margenes);
    }
  
    :root{
      --margenes: 30px;
    }

    .donaciones img{
      width: 90%;
    }
  }
  
  @media screen and (max-width: 500px){
    :root{
      --espacios-contenido: 25px;
    }
  
    .nav2{
      color: #fff;
    }
    
    .content-card{
      width: 90%;
    }
  
  
    .cont-work{
      width: 85%;
    }
  
    .marca-logo{
      width: 80%;
    }
  
    .iconos{
      margin: auto;
    }

    .donaciones img{
      width: 80%;
    }
  }

